@charset "utf-8";
/* -------------------------------------------------------------------------------------------------
   入力項目の幅設定

   History:
   0.22.00 2024/05/17 作成。
   0.42.00 2024/10/08 日付の条件に、name属性による判定を追加。
------------------------------------------------------------------------------------------------- */
/* 日付 */
input[name$="Date"],
input[name$="Date[]"],
input.date {
    width: 85px;
}

/* タイムスタンプ */
input.timestamp {
    width: 210px;
}