@charset "utf-8";
/* -------------------------------------------------------------------------------------------------
   フレーム(ヘッダとフッタを固定)

   History:
   0.01.00 2024/02/05 作成。
   0.04.00 2024/02/10 ボタンの高さを調整。
   0.15.00 2024/03/15 画面全体の領域を使用クラスを追加。
   0.17.00 2024/03/26 メイン領域の左右に2pxのマージンを追加。
------------------------------------------------------------------------------------------------- */
/* ---------------------------------------------------------------------------------------------- */
/* 変数定義 */
:root {
    /* 既定値 */
    --tsubasaLib-default-header-height: 30px;
    --tsubasaLib-default-footer-height: 30px;
    /* ローカル変数 */
    --tsubasaLib-header-height:
        var(--tsubasaLib-setting-header-height, var(--tsubasaLib-default-header-height));
    --tsubasaLib-footer-height:
        var(--tsubasaLib-setting-footer-height, var(--tsubasaLib-default-footer-height));
}

/* ---------------------------------------------------------------------------------------------- */
/* ヘッダ */
body > form:first-child > header {
    position: fixed;
    top: 0px;
    width: 100%;
    height: var(--tsubasaLib-header-height);
}

/* ボタン */
body > form:first-child > header button {
    height: 22px;
}
/* ---------------------------------------------------------------------------------------------- */
/* メイン */
#main {
    margin-top: var(--tsubasaLib-header-height);
    margin-bottom: var(--tsubasaLib-footer-height);
    margin-left: 2px;
    margin-right: 2px;
    max-height: calc(100vh - var(--tsubasaLib-header-height) - var(--tsubasaLib-footer-height));
    overflow-x: hidden;
    overflow-y: auto;
}

/* 画面全体の領域を使用 */
#main.fill {
    height: calc(100vh - var(--tsubasaLib-header-height) - var(--tsubasaLib-footer-height));
    overflow-y: hidden;
}

/* ---------------------------------------------------------------------------------------------- */
/* フッタ */
body > form:first-child > footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: calc(var(--tsubasaLib-footer-height) - 1px);
    border-top: 1px solid black;
}