@charset "utf-8";
/* -------------------------------------------------------------------------------------------------
   汎用エリア

   History:
   0.01.00 2024/02/05 作成。
   0.55.00 2024/12/04 ラベルを追加。
   0.69.00 2025/01/14 下線ラベル/背景ラベルを追加。
--------------------------------------------------------------------------------------------------*/
/* 全体 */
.area.general {
    border: 1px solid black;
    border-radius: 5px;
    background-color: lightgray;
}

/* ラベル */
.area.general:not(
    .label-underline):not(
    .area.general.label-background)
    > div > div.label {
    width: 85px;
}

/* 下線ラベル */
.area.general.label-underline > div > div.label {
    font-weight: bold;
    text-decoration: underline;
    margin-right: 3px;
}

.area.general.label-underline > div > div.label:not(:first-child) {
    margin-left: 10px;
}
/* 背景ラベル */
.area.general.label-background > div > div.label {
    margin-top: 2px;
    margin-bottom: 1px;
    margin-right: 3px;
    border: 1px solid whitesmoke;
    border-radius: 4px;
    background-color: silver;
    padding-left: 2px;
    padding-right: 2px;
}

.area.general.label-background > div > div.label:not(:first-child) {
    margin-left: 10px;
}