@charset "utf-8";
/* -------------------------------------------------------------------------------------------------
   ラジオボタンリスト(横並び)

   [HTML構図]
   span.radioList       - inline-block
       label            - 項目1
           input[radio] - ラジオボタン
           span /span   - テキスト
       /label
       label            - 項目2
           input[radio] - ラジオボタン
           span /span   - テキスト
       /label
       ...
   /span

   History:
   0.08.00 2024/02/27 作成。
   0.22.00 2024/05/17 全体のdisplayをflexへ変更。高さを中央寄せへ変更。
--------------------------------------------------------------------------------------------------*/
/* 全体 */
.radioList {
    display: flex;
    align-items: center;
    overflow: hidden;
}

/* 項目間の余白 */
.radioList > label:not(:first-child) {
    margin-left: 5px;
}