@charset "utf-8";
/* -------------------------------------------------------------------------------------------------
   入力項目の幅設定

   History:
   0.22.00 2024/05/17 作成。
------------------------------------------------------------------------------------------------- */
/* 日付 */
input.date {
    width: 85px;
}

/* タイムスタンプ */
input.timestamp {
    width: 210px;
}