@charset "utf-8";
/* -------------------------------------------------------------------------------------------------
   基本パーツ

   History:
   0.01.00 2024/02/05 作成。
   0.04.00 2024/02/10 テキストボックスの表示用を実装。
                      エリアの行の高さを、テキストボックスへ合わせて調整。
                      エリアのセルに対して、右寄せ/中央寄せ用のクラスを実装。
                      非表示クラスを実装。
   0.08.00 2024/02/27 セレクトリスト/ラジオボタンを追加。
   0.14.00 2024/03/14 見出しh1を追加。
   0.15.00 2024/03/15 flexのよく使う処理をクラス化。
   0.18.02 2024/04/04 テーブルを追加。
------------------------------------------------------------------------------------------------- */
/* ---------------------------------------------------------------------------------------------- */
/* 変数定義 */
:root {
    /* 既定値 */
    --tsubasaLib-default-font-family: sans-serif;
    --tsubasaLib-default-font-size: 14px;
    /* ローカル変数 */
    --tsubasaLib-font-family:
        var(--tsubasaLib-setting-font-family, var(--tsubasaLib-default-font-family));
    --tsubasaLib-font-size:
        var(--tsubasaLib-setting-font-size, var(--tsubasaLib-default-font-size));
    --tsubasaLib-h1-font-size:
        calc(var(--tsubasaLib-font-size) * 1.5);
}
/* ---------------------------------------------------------------------------------------------- */
/* BODY */
body {
    margin: 0;
    font-family: var(--tsubasaLib-font-family);
    font-size: var(--tsubasaLib-font-size);
    overflow-wrap: break-word;
}

/* ---------------------------------------------------------------------------------------------- */
/* ブロック */
div,
form,
section,
header,
footer {
    text-wrap: nowrap;
}

div.valign-middle,
form.valign-middle,
section.valign-middle,
header.valign-middle,
footer.valign-middle {
    margin-top: auto;
    margin-bottom: auto;
}

.flex-row {
    display: flex;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.flex-central {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.flex-row > .auto-grow,
.flex-column > .auto-grow {
    flex: 1 0 0;
}

.flex-row > .auto-fit,
.flex-column > .auto-fit {
    flex: 1 1 0;
}

/* ---------------------------------------------------------------------------------------------- */
/* 見出し */
h1 {
    margin: 10px 0 0 0;
    font-size: var(--tsubasaLib-h1-font-size);
}

/* ---------------------------------------------------------------------------------------------- */
/* ラベル */
label.required::after {
    content: "*";
    color: red;
}

/* ---------------------------------------------------------------------------------------------- */
/* テキストボックス */
input[type="text"],
input[type="password"] {
    font-family: var(--tsubasaLib-font-family);
    font-size: var(--tsubasaLib-font-size);
    padding: 0 3px;
}

input[type="text"].error,
input[type="password"].error {
    background-color: pink;
}

/* 表示項目用 */
input[type="text"]:disabled,
input[type="password"]:disabled {
    color: inherit;
    border-color: transparent;
    background-color: transparent;
}

/* ---------------------------------------------------------------------------------------------- */
/* セレクトリスト */
select {
    font-family: var(--tsubasaLib-font-family);
    font-size: var(--tsubasaLib-font-size);
    padding: 0;
}

select.error {
    background-color: pink;
}

select:disabled {
    color: inherit;
    opacity: inherit;
    border-color: transparent;
    background-color: transparent;
}

select:not(:disabled):hover {
    cursor: pointer;
}

/* ---------------------------------------------------------------------------------------------- */
/* ラジオボタン */
input[type="radio"]:not(:disabled):hover,
label:has(> input[type="radio"]:not(:disabled)):hover {
    cursor: pointer;
}

/* ---------------------------------------------------------------------------------------------- */
/* ボタン */
input[type="button"],
input[type="submit"],
button {
    font-family: var(--tsubasaLib-font-family);
    font-size: var(--tsubasaLib-setting-font-size-button, 12px);
    height: 26px;
    min-width: 38px;
    padding: 0 2px;
}

input[type="button"]:not(:disabled):hover,
input[type="submit"]:not(:disabled):hover,
button:not(:disabled):hover {
    cursor: pointer;
}

/* ---------------------------------------------------------------------------------------------- */
/* テーブル */
/* 全体 */
table {
    border-collapse: collapse;
}

table > tbody > tr > th,
table > tbody > tr > td {
    padding: 0;
}

/* ヘッダ行 */
table.list.general > tbody > tr > th {
    text-align: left;
    background-color: silver;
}

table.list.general > tbody:has(> tr:first-child > th):not(:has(> tr:nth-child(2) > th))
    > tr:first-child > th {
    border-top: 1px black solid;
}

table.list.general > tbody:has(> tr:first-child > th):not(:has(> tr:nth-child(2) > th))
    > tr:first-child > th {
    border-bottom: 1px black solid;
}

/* 行の高さ */
table.list.general > tbody > tr > th,
table.list.general > tbody > tr > td {
    height: 22px;
}

/* 偶数の明細行 */
table.list.general > tbody:not(:has(> tr:first-child > th))
    > tr:nth-child(2n):not(.selected) > td,
table.list.general > tbody:has(> tr:first-child > th):not(:has(> tr:nth-child(2) > th))
    > tr:nth-child(2n+1):not(.selected) > td,
table.list.general > tbody:has(> tr:first-child > th):has(> tr:nth-child(2) > th)
    > tr:nth-child(2n+2):not(.selected) > td {
    background-color: lightgray;
}

/* 選択行 */
table.list > tbody > tr.selected > td {
    background-color: lightgreen;
}

/* 明細上の入力項目 */
/* テキストボックス */
table.list.general input[type="text"] {
    height: 18px;
}

table.list.general input[type="text"]:not(:disabled):not(.error) {
    background-color: rgba(255, 255, 255, 0.6);
}

/* ボタン */
table.list.general input[type="button"],
table.list.general button {
    height: 22px;
}

/* ---------------------------------------------------------------------------------------------- */
/* エリア */
/* 全体 */
.area {
    padding: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* 行 */
.area > div {
    display: flex;
    height: 30px;
}

/* 列 */
.area > div > div {
    display: flex;
}

/* 縦を中央寄せ */
.area > div > div > * {
    margin-top: auto;
    margin-bottom: auto;
}

/* 右寄せ */
.area > div > div.right {
    justify-content: flex-end;
}

/* 中央寄せ */
.area > div > div.center {
    justify-content: center;
}

/* ---------------------------------------------------------------------------------------------- */
/* その他 */
/* 非表示(レイアウトは詰めない) */
.hidden {
    visibility: hidden;
}

/* 非表示(レイアウトを詰める) */
.none {
    display: none;
}