@charset "utf-8";
/* -------------------------------------------------------------------------------------------------
   基本パーツ

   History:
   0.01.00 2024/02/05 作成。
   0.04.00 2024/02/10 テキストボックスの表示用を実装。
                      エリアの行の高さを、テキストボックスへ合わせて調整。
                      エリアのセルに対して、右寄せ/中央寄せ用のクラスを実装。
                      非表示クラスを実装。
   0.08.00 2024/02/27 セレクトリスト/ラジオボタンを追加。
------------------------------------------------------------------------------------------------- */
/* ---------------------------------------------------------------------------------------------- */
/* 変数定義 */
:root {
    /* 既定値 */
    --tsubasaLib-default-font-family: sans-serif;
    --tsubasaLib-default-font-size: 14px;
    /* ローカル変数 */
    --tsubasaLib-font-family:
        var(--tsubasaLib-setting-font-family, var(--tsubasaLib-default-font-family));
    --tsubasaLib-font-size:
        var(--tsubasaLib-setting-font-size, var(--tsubasaLib-default-font-size));
}
/* ---------------------------------------------------------------------------------------------- */
/* BODY */
body {
    margin: 0;
    font-family: var(--tsubasaLib-font-family);
    font-size: var(--tsubasaLib-font-size);
    overflow-wrap: break-word;
}

/* ---------------------------------------------------------------------------------------------- */
/* ブロック */
div,
form,
section,
header,
footer {
    text-wrap: nowrap;
}

div.valign-middle,
form.valign-middle,
section.valign-middle,
header.valign-middle,
footer.valign-middle {
    margin-top: auto;
    margin-bottom: auto;
}

/* ---------------------------------------------------------------------------------------------- */
/* ラベル */
label.required::after {
    content: "*";
    color: red;
}

/* ---------------------------------------------------------------------------------------------- */
/* テキストボックス */
input[type="text"],
input[type="password"] {
    font-family: var(--tsubasaLib-font-family);
    font-size: var(--tsubasaLib-font-size);
    padding: 0 3px;
}

input[type="text"].error,
input[type="password"].error {
    background-color: pink;
}

/* 表示項目用 */
input[type="text"]:disabled,
input[type="password"]:disabled {
    color: inherit;
    border-color: transparent;
    background-color: transparent;
}

/* ---------------------------------------------------------------------------------------------- */
/* セレクトリスト */
select {
    font-family: var(--tsubasaLib-font-family);
    font-size: var(--tsubasaLib-font-size);
    padding: 0;
}

select.error {
    background-color: pink;
}

select:disabled {
    color: inherit;
    opacity: inherit;
    border-color: transparent;
    background-color: transparent;
}

select:not(:disabled):hover {
    cursor: pointer;
}

/* ---------------------------------------------------------------------------------------------- */
/* ラジオボタン */
input[type="radio"]:not(:disabled):hover,
label:has(> input[type="radio"]:not(:disabled)):hover {
    cursor: pointer;
}

/* ---------------------------------------------------------------------------------------------- */
/* ボタン */
input[type="button"],
input[type="submit"],
button {
    font-family: var(--tsubasaLib-font-family);
    font-size: var(--tsubasaLib-setting-font-size-button, 12px);
    height: 26px;
    min-width: 38px;
    padding: 0 2px;
}

input[type="button"]:not(:disabled):hover,
input[type="submit"]:not(:disabled):hover,
button:not(:disabled):hover {
    cursor: pointer;
}

/* ---------------------------------------------------------------------------------------------- */
/* エリア */
/* 全体 */
.area {
    padding: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* 行 */
.area > div {
    display: flex;
    height: 30px;
}

/* 列 */
.area > div > div {
    display: flex;
}

/* 縦を中央寄せ */
.area > div > div > * {
    margin-top: auto;
    margin-bottom: auto;
}

/* 右寄せ */
.area > div > div.right {
    justify-content: flex-end;
}

/* 中央寄せ */
.area > div > div.center {
    justify-content: center;
}

/* ---------------------------------------------------------------------------------------------- */
/* その他 */
/* 非表示(レイアウトは詰めない) */
.hidden {
    visibility: hidden;
}

/* 非表示(レイアウトを詰める) */
.none {
    display: none;
}